body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#mainContainer {
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

#books-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.book-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 50%;
    height: 50%;

    padding-left: 90px;
    border-bottom: 1px solid #ddd;
}

.book-card-content {
    padding: 15px;
}

.book-card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-card-details {
    font-size: 0.9em;
    color: #555;
}